In [1]:
pip install -U "huggingface_hub[cli]"

Requirement already satisfied: huggingface_hub[cli] in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (1.1.7)
Collecting huggingface_hub[cli]
  Downloading huggingface_hub-1.2.1-py3-none-any.whl.metadata (13 kB)
WARNING: huggingface-hub 1.2.1 does not provide the extra 'cli'
Requirement already satisfied: filelock in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (3.13.1)
Requirement already satisfied: fsspec>=2023.5.0 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (2023.10.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.2.0 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (1.2.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /home/jialu/.local/lib/python3.11/site-packages (from huggingface_hub[cli]) (0.28.1)
Requirement already satisfied: packaging>=20.9 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (25.0)
Requirement already satisfied: pyyaml>=5.1 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (6.0.1)
Requirement already satisfied: shellingham in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (1.5.4)
Requirement already satisfied: tqdm>=4.42.1 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (4.67.1)
Requirement already satisfied: typer-slim in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (0.20.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from huggingface_hub[cli]) (4.15.0)
Requirement already satisfied: anyio in /home/jialu/.local/lib/python3.11/site-packages (from httpx<1,>=0.23.0->huggingface_hub[cli]) (4.10.0)
Requirement already satisfied: certifi in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from httpx<1,>=0.23.0->huggingface_hub[cli]) (2025.11.12)
Requirement already satisfied: httpcore==1.* in /home/jialu/.local/lib/python3.11/site-packages (from httpx<1,>=0.23.0->huggingface_hub[cli]) (1.0.9)
Requirement already satisfied: idna in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from httpx<1,>=0.23.0->huggingface_hub[cli]) (3.4)
Requirement already satisfied: h11>=0.16 in /home/jialu/.local/lib/python3.11/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->huggingface_hub[cli]) (0.16.0)
Requirement already satisfied: click>=8.0.0 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from typer-slim->huggingface_hub[cli]) (8.1.7)
Requirement already satisfied: sniffio>=1.1 in /scratch/Jli/con/anaconda3/lib/python3.11/site-packages (from anyio->httpx<1,>=0.23.0->huggingface_hub[cli]) (1.3.0)
Downloading huggingface_hub-1.2.1-py3-none-any.whl (520 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 520.9/520.9 kB 23.6 MB/s eta 0:00:00
Installing collected packages: huggingface_hub
  Attempting uninstall: huggingface_hub
    Found existing installation: huggingface_hub 1.1.7
    Uninstalling huggingface_hub-1.1.7:
      Successfully uninstalled huggingface_hub-1.1.7
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
transformers 4.57.1 requires huggingface-hub<1.0,>=0.34.0, but you have huggingface-hub 1.2.1 which is incompatible.
Successfully installed huggingface_hub-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [13]:
token = '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'

snapshot_download(
    repo_id="Northwestern-CSSI/sciscinet-v2",
    local_dir="/scratch/Jli/Assignment/sciscinet-v2",
    repo_type="dataset",
    token=token,                 
    resume_download=True
)

Downloading (incomplete total...): 0.00B [00:00, ?B/s]

Fetching 29 files:   0%|          | 0/29 [00:00<?, ?it/s]

'/scratch/Jli/Assignment/sciscinet-v2'

In [2]:
import pandas as pd
import os

DATA_DIR = "/scratch/Jli/Assignment/sciscinet-v2"

papers = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_papers.parquet"))
affils = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_paper_author_affiliation.parquet"))
institutions = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_affiliations.parquet"))
fields = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_paperfields.parquet"))
refs = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_paperrefs.parquet"))

In [ ]:
institutions.head()
papers.head()

institutes_yeshiva = institutions[institutions["display_name"].str.contains("yeshiva university", case=False, na=False)]

print(len(institutes_yeshiva))
institutes_yeshiva.head()

2

,institution_id,display_name,ror,homepage_url,country_code,type,h_index,productivity,avg_c10,avg_logc10
511,I19772626,Yeshiva University,045x93337,https://www.yu.edu,US,education,489.0,17786.0,35.541757,2.362813
55080,I2799361474,Yeshiva University Museum,03rs7bk48,http://www.yumuseum.org/,US,archive,1.0,2.0,0.333333,0.231049

In [ ]:
institute_id = 'I19772626'
affils.head()

affils_yeshiva = affils[affils["institutionid"].str.contains(institute_id, case=False, na=False)]

print(len(affils_yeshiva))
affils_yeshiva.head()

33635

,paperid,author_position,authorid,institutionid,raw_affiliation_string
47942,W4230191490,last,A5108089204,I19772626,None
51050,W4236999369,first,A5094900221,I19772626,None
51051,W4236999369,last,A5108089204,I19772626,None
55452,W4246924358,middle,A5033508527,I19772626,None
295609,W765639894,last,A5098493281,I19772626,None

In [ ]:
yeshiva_paper_ids = affils_yeshiva["paperid"].unique()
print(len(yeshiva_paper_ids))

papers.head()
papers_yeshiva = papers[papers["paperid"].isin(yeshiva_paper_ids)]
papers_yeshiva.head()

17786

,paperid,doi,year,date,doctype,cited_by_count,is_retracted,reference_count,citation_count,C3,...,WSB_Cinf,SB_B,SB_T,team_size,institution_count,patent_count,newsfeed_count,nct_count,nih_count,nsf_count
17704,W4230191490,https://doi.org/10.1080/07908318909525055,1989,1989-01-01,article,0,False,6,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
22203,W4236999369,https://doi.org/10.1515/9783111684376.fm,1978,1978-12-31,book-chapter,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
28761,W4246924358,https://doi.org/10.1142/9789814295895_0001,2010,2010-08-01,article,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
142442,W765639894,https://doi.org/10.1300/j358v04n01_02,1988,1988-04-25,article,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
673726,W1992119014,https://doi.org/10.1093/jaarel/xxxix.2.254,1971,1971-01-01,article,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0

In [10]:
refs.head()

refs_yeshiva = refs[refs["cited_paperid"].isin(yeshiva_paper_ids)]
print(len(affils_yeshiva))
refs_yeshiva.head()

33635

      citing_paperid cited_paperid  year  ref_year  year_diff
7335     W4388710639   W2098670130  2014      2009          5
18911    W2334294100   W1972165967  1999      1966         33
19123    W2504948151   W2481132005  2007      2005          2
19125    W2504948151   W3203188684  2007      2005          2
21766    W4251079615   W2139015820  2000      2000          0

In [ ]:
fields.head()

fields_yeshiva = fields[fields["paperid"].isin(yeshiva_paper_ids)]
print(len(fields_yeshiva))
fields_yeshiva.head()

112747

           paperid     fieldid  score_openalex
35674  W4230191490  C144024400        0.456282
35675  W4230191490   C29595303        0.413342
35676  W4230191490   C17744445        0.412701
35677  W4230191490  C142362112        0.265091
35678  W4230191490   C52119013        0.219945

### Set filter to CS and year 2020-2025

In [10]:
sciscinet_fields = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_fields.parquet"))

sciscinet_fields.head()

computer_science = 'C41008148'

yu_20_25 = (papers_yeshiva["year"] >= 2020) & (papers_yeshiva["year"] <= 2025)
yupaper_20_25 = papers_yeshiva[yu_20_25]
print(len(yupaper_20_25))
yupaper_20_25.head()

1884

,paperid,doi,year,date,doctype,cited_by_count,is_retracted,reference_count,citation_count,C3,...,WSB_Cinf,SB_B,SB_T,team_size,institution_count,patent_count,newsfeed_count,nct_count,nih_count,nsf_count
7,W4237926406,https://doi.org/10.1515/9783110639247-018,2020,2020-04-08,book-chapter,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
39,W3006624400,https://doi.org/10.1136/bmjopen-2019-029855,2020,2020-02-01,article,39,False,55,38,34,...,NaN,-0.111111,1.0,18,21,0,0,3,0,0
44,W3005167905,https://doi.org/10.1016/j.drugalcdep.2020.107894,2020,2020-02-06,article,35,False,30,35,29,...,NaN,1.833333,1.0,6,5,0,0,0,1,0
47,W3080744748,https://doi.org/10.1093/ntr/ntaa158,2020,2020-08-19,article,32,False,23,28,21,...,NaN,0.250000,1.0,5,5,0,0,0,1,0
52,W3097891112,https://doi.org/10.2105/ajph.2020.305952,2020,2020-10-29,article,30,False,17,30,26,...,NaN,0.000000,0.0,3,2,0,0,0,0,0

In [11]:
yu_20_25 = yupaper_20_25['paperid'].unique()
fields_yeshiva_20_25 = fields_yeshiva[fields_yeshiva["paperid"].isin(yu_20_25)]
fields_yu_cs_20_25 = fields_yeshiva_20_25[fields_yeshiva_20_25["fieldid"]==computer_science]
print(len(fields_yeshiva_20_25))
print(len(fields_yu_cs_20_25))
fields_yu_cs_20_25.head()

13348
495

         paperid    fieldid  score_openalex
134  W3006624400  C41008148        0.000000
233  W3126904748  C41008148        0.378357
271  W2990244380  C41008148        0.087875
287  W3036216932  C41008148        0.273489
370  W3088470032  C41008148        0.000000

In [13]:
yu_cs_20_25 = fields_yu_cs_20_25["paperid"].unique()
refs_yeshiva_cs_20_25 = refs_yeshiva[refs_yeshiva["cited_paperid"].isin(yu_cs_20_25)]
print(len(refs_yeshiva_cs_20_25))
refs_yeshiva_cs_20_25.head()

2806

     citing_paperid cited_paperid  year  ref_year  year_diff
788     W3047784567   W2990244380  2020      2020          0
810     W4319261535   W4292749517  2023      2022          1
1037    W4220662354   W3104456695  2022      2020          2
1039    W4221161424   W3112705461  2022      2020          2
1380    W3126904748   W3031371307  2021      2020          1

In [31]:
yupaper_cs_20_25 = yupaper_20_25[yupaper_20_25["paperid"].isin(yu_cs_20_25)]
print(len(yupaper_cs_20_25))
yupaper_cs_20_25.head()

495

,paperid,doi,year,date,doctype,cited_by_count,is_retracted,reference_count,citation_count,C3,...,WSB_Cinf,SB_B,SB_T,team_size,institution_count,patent_count,newsfeed_count,nct_count,nih_count,nsf_count
8179543,W3006624400,https://doi.org/10.1136/bmjopen-2019-029855,2020,2020-02-01,article,39,False,55,38,34,...,NaN,-0.111111,1.0,18,21,0,0,3,0,0
8254233,W3126904748,https://doi.org/10.1103/physrevresearch.3.l032030,2021,2021-07-30,article,30,False,78,26,26,...,NaN,0.000000,0.0,3,3,0,0,0,0,1
8272455,W2990244380,https://doi.org/10.1360/scm-2019-0668,2020,2020-09-16,article,28,False,36,28,22,...,NaN,0.000000,0.0,2,1,0,0,0,0,0
8283517,W3036216932,https://doi.org/10.1080/09515070.2020.1781596,2020,2020-06-21,article,27,False,21,26,22,...,NaN,0.000000,0.0,4,3,0,0,0,0,0
8546024,W3088470032,https://doi.org/10.1093/sw/swaa036,2020,2020-07-14,article,0,False,2,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0

In [34]:
affils_yeshiva_cs_20_25 = affils_yeshiva[affils_yeshiva["paperid"].isin(yu_cs_20_25)]

print(len(affils_yeshiva_cs_20_25))
affils_yeshiva_cs_20_25.head()

758

,paperid,author_position,authorid,institutionid,raw_affiliation_string
12789671,W3006624400,middle,A5002824505,I19772626,None
13877519,W3126904748,middle,A5085734763,I19772626,None
14127618,W2990244380,first,A5059732859,I19772626,None
14127619,W2990244380,last,A5102886997,I19772626,None
14280419,W3036216932,middle,A5016533933,I19772626,None

In [11]:
OUT_DIR = "/scratch/Jli/Assignment/yeshiva_subset/"
os.makedirs(OUT_DIR, exist_ok=True)

papers_yeshiva.to_csv(os.path.join(OUT_DIR, "papers_yeshiva.csv"), index=False)
fields_yeshiva.to_csv(os.path.join(OUT_DIR, "fields_yeshiva.csv"), index=False)
refs_yeshiva.to_csv(os.path.join(OUT_DIR, "refs_yeshiva.csv"), index=False)
affils_yeshiva.to_csv(os.path.join(OUT_DIR, "affils_yeshiva.csv"), index=False)

In [35]:
yupaper_cs_20_25.to_csv(os.path.join(OUT_DIR, "yupaper_cs_20_25.csv"), index=False)
refs_yeshiva_cs_20_25.to_csv(os.path.join(OUT_DIR, "refs_yeshiva_cs_20_25.csv"), index=False)
fields_yu_cs_20_25.to_csv(os.path.join(OUT_DIR, "fields_yu_cs_20_25.csv"), index=False)
affils_yeshiva_cs_20_25.to_csv(os.path.join(OUT_DIR, "affils_yeshiva_cs_20_25.csv"), index=False)

In [7]:
import pandas as pd
import os

DATA_DIR = "/scratch/Jli/Assignment/sciscinet-v2"
sci_author = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_author_details.parquet"))

sci_author.head()

,authorid,orcid,display_name,display_name_alternatives,works_count,cited_by_count,last_known_institution,works_api_url,updated_date
0,A5074835999,None,J Millgate,"[""J Millgate""]",1,55,None,https://api.openalex.org/works?filter=author.i...,2024-07-17T18:27:20.433379
1,A5044393500,None,Random Cloud,"[""Random Cloud""]",1,54,None,https://api.openalex.org/works?filter=author.i...,2024-07-17T20:37:44.694879
2,A5093992040,None,Rick Pender,"[""Rick Pender""]",1,38,None,https://api.openalex.org/works?filter=author.i...,2024-07-17T16:50:57.644609
3,A5029837322,None,I.M. Faisal,"[""I.M. Faisal""]",1,32,None,https://api.openalex.org/works?filter=author.i...,2024-07-17T12:50:09.143135
4,A5044580309,None,A C Maclean,"[""A C Maclean""]",1,30,None,https://api.openalex.org/works?filter=author.i...,2024-07-17T16:09:01.156535

In [1]:
import pandas as pd
import os

DATA_DIR = "/scratch/Jli/Assignment/sciscinet-v2"
sci_papsour = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_papersources.parquet"))
sci_papsour.head()

,paperid,sourceid,landing_page_url,pdf_url,is_oa,version,license
0,W2612738092,S4306402512,https://hal.science/hal-00343008,None,False,None,None
1,W2952574245,S4306402512,https://hal.archives-ouvertes.fr/hal-01703442,None,False,None,None
2,W3144847321,S4306402512,https://hal.archives-ouvertes.fr/hal-00485841,None,False,None,None
3,W3198040299,S4306402512,https://hal.science/hal-03335091,None,False,None,None
4,W2793842796,S4306402512,https://hal.archives-ouvertes.fr/hal-01735368,None,False,None,None

### Set filter to CS and year 2015-2025

In [2]:
papers_yeshiva = pd.read_csv('/scratch/Jli/Assignment/yeshiva_subset/papers_yeshiva.csv')
fields_yeshiva = pd.read_csv('/scratch/Jli/Assignment/yeshiva_subset/fields_yeshiva.csv')
refs_yeshiva = pd.read_csv('/scratch/Jli/Assignment/yeshiva_subset/refs_yeshiva.csv')
affils_yeshiva = pd.read_csv('/scratch/Jli/Assignment/yeshiva_subset/affils_yeshiva.csv')

In [3]:
sci_patents = pd.read_parquet(os.path.join(DATA_DIR, "sciscinet_link_patents.parquet"))
sci_patents.head()

  paperid          patent  uspto
0   W1552  us-11426570-b2      1
1   W1552  us-11666239-b2      1
2   W1552  us-11678989-b2      1
3   W1552  us-11745001-b2      1
4   W1552  us-11826495-b2      1

In [4]:
computer_science = 'C41008148'

yu_15_25 = (papers_yeshiva["year"] >= 2015) & (papers_yeshiva["year"] <= 2025)
yupaper_15_25 = papers_yeshiva[yu_15_25]
print(len(yupaper_15_25))
yupaper_15_25.head()

3858

,paperid,doi,year,date,doctype,cited_by_count,is_retracted,reference_count,citation_count,C3,...,WSB_Cinf,SB_B,SB_T,team_size,institution_count,patent_count,newsfeed_count,nct_count,nih_count,nsf_count
7,W4237926406,https://doi.org/10.1515/9783110639247-018,2020,2020-04-08,book-chapter,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
22,W3159764901,NaN,2015,2015-09-01,article,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
35,W4252911927,https://doi.org/10.1017/cbo9781316111291.001,2016,2016-10-17,book-chapter,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
36,W2773297916,https://doi.org/10.14453/ltc.741,2017,2017-01-01,article,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
37,W2964053977,https://doi.org/10.1016/j.jfa.2016.06.001,2016,2016-06-11,article,41,False,27,40,23,...,NaN,0.416667,2.0,2,2,0,0,0,0,2

In [6]:
yu_15_25 = yupaper_15_25['paperid'].unique()
fields_yeshiva_15_25 = fields_yeshiva[fields_yeshiva["paperid"].isin(yu_15_25)]
fields_yu_cs_15_25 = fields_yeshiva_15_25[fields_yeshiva_15_25["fieldid"]==computer_science]
print(len(fields_yeshiva_15_25))
print(len(fields_yu_cs_15_25))
fields_yu_cs_15_25.head()

26740
979

         paperid    fieldid  score_openalex
75   W3159764901  C41008148        0.358603
113  W4252911927  C41008148        0.283809
134  W3006624400  C41008148        0.000000
233  W3126904748  C41008148        0.378357
267  W2920595904  C41008148        0.000000

In [9]:
yu_cs_15_25 = fields_yu_cs_15_25["paperid"].unique()
refs_yeshiva_cs_15_25 = refs_yeshiva[refs_yeshiva["cited_paperid"].isin(yu_cs_15_25)]
print(len(refs_yeshiva_cs_15_25))
refs_yeshiva_cs_15_25.head()

12094

    citing_paperid cited_paperid  year  ref_year  year_diff
231    W2968573816   W2605038791  2019      2017          2
269    W4291116585   W2782660935  2022      2018          4
558    W4353055421   W2782660935  2023      2018          5
643    W3017479018   W2884201143  2020      2019          1
662    W3088667432   W2530461278  2020      2017          3

In [14]:
yupaper_cs_15_25 = yupaper_15_25[yupaper_15_25["paperid"].isin(yu_cs_15_25)]
print(len(yupaper_cs_15_25))
yupaper_cs_15_25.head()

979

,paperid,doi,year,date,doctype,cited_by_count,is_retracted,reference_count,citation_count,C3,...,WSB_Cinf,SB_B,SB_T,team_size,institution_count,patent_count,newsfeed_count,nct_count,nih_count,nsf_count
22,W3159764901,NaN,2015,2015-09-01,article,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
35,W4252911927,https://doi.org/10.1017/cbo9781316111291.001,2016,2016-10-17,book-chapter,0,False,0,0,0,...,NaN,NaN,NaN,0,0,0,0,0,0,0
39,W3006624400,https://doi.org/10.1136/bmjopen-2019-029855,2020,2020-02-01,article,39,False,55,38,34,...,NaN,-0.111111,1.0,18,21,0,0,3,0,0
53,W3126904748,https://doi.org/10.1103/physrevresearch.3.l032030,2021,2021-07-30,article,30,False,78,26,26,...,NaN,0.000000,0.0,3,3,0,0,0,0,1
57,W2920595904,https://doi.org/10.1037/neu0000503,2019,2019-02-28,article,28,False,77,28,15,...,NaN,1.112500,3.0,10,3,0,0,0,0,0

In [15]:
affils_yeshiva_cs_15_25 = affils_yeshiva[affils_yeshiva["paperid"].isin(yu_cs_15_25)]

print(len(affils_yeshiva_cs_15_25))
affils_yeshiva_cs_15_25.head()

1420

,paperid,author_position,authorid,institutionid,raw_affiliation_string
25,W3159764901,first,A5064628460,I19772626,NaN
26,W3159764901,last,A5012311433,I19772626,NaN
39,W4252911927,first,A5090930946,I19772626,NaN
43,W3006624400,middle,A5002824505,I19772626,NaN
79,W3126904748,middle,A5085734763,I19772626,NaN

In [16]:
patent_yeshiva_cs_15_25 = sci_patents[sci_patents["paperid"].isin(yu_cs_15_25)]

print(len(patent_yeshiva_cs_15_25))
patent_yeshiva_cs_15_25.head()

30

        paperid          patent  uspto
12137  W4400945  us-11132707-b2      1
12138  W4400945  us-11146532-b2      1
12139  W4400945  us-11153621-b2      1
12140  W4400945  us-11201665-b2      1
12141  W4400945  us-11210426-b2      1

In [17]:
OUT_DIR = "/scratch/Jli/Assignment/yeshiva_subset/"
os.makedirs(OUT_DIR, exist_ok=True)

yupaper_cs_15_25.to_csv(os.path.join(OUT_DIR, "yupaper_cs_15_25.csv"), index=False)
refs_yeshiva_cs_15_25.to_csv(os.path.join(OUT_DIR, "refs_yeshiva_cs_15_25.csv"), index=False)
fields_yu_cs_15_25.to_csv(os.path.join(OUT_DIR, "fields_yu_cs_15_25.csv"), index=False)
affils_yeshiva_cs_15_25.to_csv(os.path.join(OUT_DIR, "affils_yeshiva_cs_15_25.csv"), index=False)
patent_yeshiva_cs_15_25.to_csv(os.path.join(OUT_DIR, "patent_yeshiva_cs_15_25.csv"), index=False)